<mat-card>
    <mat-card-header>
        <mat-card-title>Семена</mat-card-title>
        <mat-icon>more_vert</mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div class="value">10</div>
        <div class="change">13.2%</div>
        <div class="chart">
            <div class="bar" style="height: 50%;"></div>
            <div class="bar" style="height: 85%;"></div>
            <div class="bar" style="height: 45%;"></div>
            <div class="bar" style="height: 85%;"></div>
            <div class="bar" style="height: 100%;"></div>
            <div class="bar" style="height: 50%;"></div>
            <div class="bar" style="height: 65%;"></div>
            <div class="bar" style="height: 70%;"></div>
            <div class="bar" style="height: 65%;"></div>
            <div class="bar" style="height: 30%;"></div>
            <div class="bar" style="height: 50%;"></div>
            <div class="bar" style="height: 70%;"></div>
            <div class="bar" style="height: 50%;"></div>
        </div>
    </mat-card-content>
</mat-card>