:host {
    display: block;
    margin-bottom: 15px;
}

mat-card-header {
    display: flex;
    align-items: flex-start;

    mat-card-title {
        color: #43425D;
        font-size: 14px;
    }

    mat-icon {
        margin-left: auto;
    }
}

mat-card-content {
    position: relative;
}

.change {
    font-size: 12px;
    color: #FF4141;
    display: flex;
    align-items: center;
    mat-icon {
        font-size: 17px;
        width: auto;
        height: auto;
    }
}

.chart {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: flex-end;

    .bar {
        width: 7px;
        margin: 1px;
        background: linear-gradient(#5EE2A0, rgba(#5EE2A0, 0.5));
    }
}

:host-context(.green) {
    .change {
        color: #3CC480;
    }
}

:host-context(.purple-bars) {
    .bar {
        background: linear-gradient(#984A59, rgba(#984A59, 0.35));
    }
}

:host-context(.light-green-bars) {
    .bar {
        background: linear-gradient(#A6FBA0, rgba(#A6FBA0, 0.42));
    }
}

:host-context(.blue-bars) {
    .bar {
        background: linear-gradient(#003BFC, rgba(#003BFC, 0.36));
    }
}

// #A6FBA0
