<mat-card>
    <mat-card-header>
        <mat-card-title>{{ cardTitle }}</mat-card-title>
        <mat-icon>more_vert</mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div class="value">{{ value }}</div>
        <div class="change">
            <mat-icon *ngIf="top">arrow_downward</mat-icon>
            <mat-icon *ngIf="bottom">arrow_upward</mat-icon>
            {{ change }}%
        </div>
        <div class="chart">
            <div class="bar" style="height: 50%;"></div>
            <div class="bar" style="height: 85%;"></div>
            <div class="bar" style="height: 45%;"></div>
            <div class="bar" style="height: 85%;"></div>
            <div class="bar" style="height: 100%;"></div>
            <div class="bar" style="height: 50%;"></div>
            <div class="bar" style="height: 65%;"></div>
            <div class="bar" style="height: 70%;"></div>
            <div class="bar" style="height: 65%;"></div>
            <div class="bar" style="height: 30%;"></div>
            <div class="bar" style="height: 50%;"></div>
            <div class="bar" style="height: 70%;"></div>
            <div class="bar" style="height: 50%;"></div>
        </div>
    </mat-card-content>
</mat-card>