@import "theme";

:host {
    display: flex;
    align-items: stretch;
    flex: 1 0 auto;
}

nav {
    width: 70px;
    background: #333;
    flex: none;
}

mat-toolbar {
    @include mat-elevation(1);

    flex: none;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    flex: auto;
    max-width: 100%;//calc(100vw - 70px);

    .content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 20px;
        flex: auto;
        overflow: auto;
    }
}
