@import "theme";

:host {
    display: flex;
    align-items: stretch;
    flex: 1 0 auto;
}

nav {
    width: 70px;
    background: #333;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-toolbar {
    @include mat-elevation(1);

    flex: none;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    flex: auto;
    max-width: 100%; //calc(100vw - 70px);

    .content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 20px;
        flex: auto;
        overflow: auto;
    }
}

.logo {
    padding-top: 20px;

    img {
        width: 35px;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    img {
        width: 40px;
        margin: 10px 0;
        cursor: pointer;
    }
}

.icons {
    margin-left: auto;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #fff;
    display: flex;
    align-items: center;
    color: #ECEFF4;

    mat-icon {
        margin-left: 20px;
    }
}

.user {
    display: flex;
    align-items: center;

    .name {
        margin-right: 20px;
        color: #ECEFF4;
    }
}

.avatar {
    font-size: 0;
    display: flex;
    align-items: center;
    flex: auto;
    max-height: 100%;

    img {
        border-radius: 50%;
        height: 50px;
    }
}
