<!-- <div class="div"></div> -->
<div class="row">
    <div class="col-xs-12 col-md-9 col-lg-10">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <app-chart-wrapper [options]="doughnutOptions" [datasets]="doughnutDatasets" [labels]="doughnutLabels" chartTitle="План - факт финансовых средств"
                    type="doughnut"></app-chart-wrapper>
            </div>
            <div class="col-xs-12 col-md-6">
                <app-chart-wrapper [options]="options" [datasets]="datasets" [labels]="labels" chartTitle="Расходы" type="bar"></app-chart-wrapper>
            </div>
            <div class="col-xs-12 col-md-6">
                <app-chart-wrapper [options]="radarOptions" [datasets]="radarDatasets" [labels]="radarLabels" chartTitle="Октагон расходов"
                    type="radar"></app-chart-wrapper>
            </div>
            <div class="col-xs-12 col-md-6">
                <app-chart-wrapper (chartGenerated)="chartGenerated($event)" [options]="lineOptions" [datasets]="lineDatasets" [labels]="lineLabels"
                    chartTitle="График изменения расходов" type="line"></app-chart-wrapper>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 col-lg-2">
        <div class="row">
            <div class="col-xs-6 col-md-12">
                <app-changes-card cardTitle="Семена" value="10.2" change="13.8" class="green-bars red"></app-changes-card>
            </div>
            <div class="col-xs-6 col-md-12">
                <app-changes-card cardTitle="ГСМ" value="9.4" change="13.8" bottom="true" class="purple-bars red"></app-changes-card>
            </div>
            <div class="col-xs-6 col-md-12">
                <app-changes-card cardTitle="Оплата труда" value="9.3" change="13.8" top="true" class="light-green-bars green"></app-changes-card>
            </div>
            <div class="col-xs-6 col-md-12">
                <app-changes-card cardTitle="Удобрения" value="11" change="13.8" top="true" class="blue-bars green"></app-changes-card>
            </div>
            <div class="col-xs-6 col-md-12">
                <app-changes-card cardTitle="Иные расходы" value="10.2" change="13.8" class="green-bars red"></app-changes-card>
            </div>
            <div class="col-xs-6 col-md-12">
                <app-changes-card cardTitle="Электроэнергия" value="9.4" change="13.8" class="purple-bars red"></app-changes-card>
            </div>
            <div class="col-xs-6 col-md-12">
                <app-changes-card cardTitle="Вода" value="9.3" change="13.8" class="light-green-bars green"></app-changes-card>
            </div>
        </div>
    </div>
</div>